*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(60, 10%, 95%);
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
}

/* Header */

header {
    height: 100dvh;
    width: 50dvw;
    background-image: url(img/A.jpeg);
    background-size: cover;
    background-repeat: round;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.3);
    color:hsl(60, 10%, 95%);
    align-content: center;
    text-align: center;
}

header div {
    width: 100%;
    max-width: 70%;
    height: 20dvh;
    margin: 0 auto;
    align-content: center;
    border-radius: 30px;
    box-shadow: 0 0 10px hsl(60, 10%, 95%);
    background-color: rgba(0, 0, 0, 0.4);
    animation: title-anime infinite .5s ease-in-out;
}


/* Main */
main {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.main-title {
    height: 20dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 70%;
    margin: 0 auto
}

.bold {
    font-weight: bold;
    font-size: large;
    letter-spacing: .11em;
}

span.bold {
    margin: 20px 0;
}

form {
    height: 33dvh;
    padding: 10px 0;
}

form fieldset {
    position: relative;
    height: 70%;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1.5rem;
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: hsl(60, 10%, 100%);
    border-radius: 30px;
}

form fieldset legend {
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    border: 1px solid rgba(200, 200, 200, 0.5);
    padding: 1.5px;
    background-color: white;
    border-radius: 30px;
}

#sub-btn {
    position: absolute;
    bottom: 1%;
    left: 41%;
    outline: none;
    border: 1px solid hsl(60, 10%, 30%);
    border-radius: 30px;
    padding:10px;
    background-color: rgba(0, 0, 0, 0.6);
    color:hsl(60, 10%, 95%);
    margin: 1px 0;
    cursor: pointer;
}


/* Animation */
@keyframes title-anime {
    0% {
        box-shadow: 0 -5px 5px hsl(60, 10%, 95%);
    }
    25% {
        box-shadow: 5px 0 5px hsl(60, 10%, 95%);
    }
    50% {
        box-shadow: 0 5px 5px hsl(60, 10%, 95%);
    }
    75% {
        box-shadow: -5px 0 5px hsl(60, 10%, 95%);
    }
    100% {
        box-shadow: 0 -5px 5px hsl(60, 10%, 95%);
    }
}